$primarycolor: #eee;
$textcolor: #111;

body {
    background-color: $primarycolor;
}

header {
    background-color: $primarycolor;

    h1 {
        color: $textcolor;
    }
}

button {
    padding: 16px;
    background-color: $textcolor;
    color: $primarycolor;

    &:hover {
        background-color: $primarycolor;
        color: $textcolor;
    }
}